.feed-page {
  background-color: #F3F2EF;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.content-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed-input > img {
  height: 32px;
  width: 32px;
}