.feed-page {
  background-color: #F3F2EF;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: auto;
}

.content-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-main-wrapper {
  display: flex;
  width: 1128px;
  height: 100%;
}

.feed-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.aws-info-child {
  background-color: white;
  border-radius: 8px;
  border: 2px solid #ff9900;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  width: 552px;
  max-width: 552px;
  overflow: auto;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
}

.post-photo-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  width: 552px;
  max-width: 552px;
  overflow: auto;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
}

.post-video-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  width: 552px;
  max-width: 552px;
  overflow: auto;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
}

.post-modal-box {
  width: 540px;
  border-radius: 8px;
  border-top: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  overflow: visible;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  z-index: 4;
}

.post-modal-main {
  display: flex;
  align-items: center;
  margin: 8px 16px 0 16px;
  vertical-align: baseline;
}

.post-modal-main-picture-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-modal-propic {
  margin-right: 8px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.open-post-modal {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100%;
  max-width: none;
  min-height: 48px;
  overflow: hidden;
  padding: 10px 8px 10px 16px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}

.open-post-modal:hover,
.open-post-modal:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.start-a-post {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.post-modal-options-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 3px;
}

.post-option {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 480px;
  min-height: 48px;
  line-height: 28px;
  cursor: pointer;
}

.post-option:hover,
.post-option:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-option-icon {
  width: 24px;
  height: 24px;
  margin-left: -2px;
  margin-right: 4px;
  text-align: center;
}

.post-option-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  margin-left: 8px;
  text-align: center;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.6);
}

.aws-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px 10px 16px;
}

.aws-modal-header {
  font-weight: bolder;
  margin-top: 15px;
  margin-bottom: 15px;
}

.aws-modal-text {
  margin-bottom: 15px;
}

.aws-modal-logo {
  height: 300px;
  width: 300px;
}

.feed-breakline {
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  color: rgb(128, 128, 128);
  flex-grow: 1;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
  height: 1px;
  font-size: 13.3333px;
  font-weight: 400;
  display: block;
  width: 540px;
}