.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 744px;
  transform: translate(-50%, -50%);
  background-color: white;
}

.post-show-modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1128px;
  height: 100%;
  min-height: 56px;
  max-height: 685px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
}

.post-show-modal-wrap {
  padding: 0;
  overflow: auto;
  display: flex;
  width: 100%;
}

.post-show-modal-exit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 12px;
  top: 12px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  z-index: 1;
}

.post-show-modal-exit:hover,
.post-show-modal-exit:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-show-modal-x {
  margin: 0;
  display: block;
  text-align: center;
  height: 35px;
  width: 35px;
}

.post-show-modal-left-section {
  background-color: rgb(29, 34, 38);
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.post-show-modal-media {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.post-show-modal-right-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-height: 100%;
  width: 35%;
}

.post-show-modal-right-header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: rgba(0, 0, 0, 0.9);
  padding: 12px 48px 0px 16px;
  margin-bottom: 8px;
  z-index: -1;
}

.post-show-modal-namecard {
  display: flex;
  flex-grow: 1;
}

.post-show-modal-propic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-position: 50% 50%;
  background-color: rgb(255, 255, 255);
}

.post-show-modal-namecard-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 8px;
}

.post-show-modal-name {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.post-show-modal-name:hover,
.post-show-modal-name:active {
  color: #0a66c2;
  text-decoration: underline;
}

.post-show-modal-headline {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-show-modal-timestamp-wrap {
  display: flex;
  justify-content: flex-start;
}

.post-show-modal-timestamp {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-show-modal-right-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.post-show-modal-body {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  margin: 0px 16px 0px 16px;
  max-height: 300px;
  max-width: 928px;
  overflow: hidden;
}

.post-show-modal-body-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.post-show-modal-reactbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0px 16px 0px 16px;
  padding: 8px 0px 8px 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.post-show-modal-reactbar-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  list-style-type: none;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.6);
}

.post-show-modal-social {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 4px;
  cursor: default;
}

.post-show-modal-social:hover,
.post-show-modal-social:active {
  text-decoration: underline rgba(0, 0, 0, 0.6);
}

.post-show-modal-comments {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}

.post-show-modal-comments:hover,
.post-show-modal-comments:active {
  color: #0a66c2;
  text-decoration: underline;
}

.post-show-modal-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 4px 12px 4px 12px;
  min-height: 40px;
  line-height: 24px;
}

.post-show-modal-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 4px;
  padding: 10px 8px 10px 8px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  cursor: pointer;
  z-index: 10;
}

.post-show-modal-action:hover,
.post-show-modal-action:active {
  background-color: rgba(0, 0, 0, 0.08);

  .post-reaction-dock {
    display: flex;
  }
}

.post-show-modal-action-icon {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}

.post-show-modal-action-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 28px;
}

.post-show-reaction-box {
  width: 100%;
  position: relative;
}

.post-show-modal-input-wrap {
  display: flex;
  flex-shrink: 0;
  padding: 4px 14px 8px 14px;
}

.post-show-modal-input-pic {
  margin-top: 4px;
  margin-right: 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post-show-modal-input-box {
  width: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-show-modal-input {
  margin-top: 4.5px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10.5px 9.5px 10.5px 9.5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  width: 100%;
  outline: none;
  transition-duration: 0.1s;
  transition-property: background-color, box-shadow, color;
}

.post-show-modal-input:focus {
  box-shadow: #b2b2b2 0px 0px 0px 1px inset;
}

.post-show-modal-comment {
  border: none;
  border-radius: 16px;
  background-color: rgb(10, 102, 194);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 12px;
  padding: 2px 12px 2px 12px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.post-show-modal-comment:hover {
  background-color: rgb(2, 59, 116)
}

.post-show-modal-comment-card-box {
  height: 100%;
  width: 100%;
}

.post-show-modal-comment-card-outer {
  padding: 0;
  margin: 12px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-show-modal-comment-card-inner {
  display: flex;
}

.post-show-modal-comment-card-inner > div {
  width: calc(100% - 70px);
  // width: 100%;
}

.post-show-modal-comment-card-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post-show-modal-comment-graybox {
  background-color: #f2f2f2;
  border-radius: 8px;
  border-top-left-radius: 0;
  width: 100%;
  padding: 8px 12px;
  margin-left: 4px;
}

.post-show-modal-comment-card-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-show-modal-comment-card-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-show-modal-comment-card-header-left-top {
  display: flex;
}

.post-show-modal-comment-card-header-right {
  display: flex;
}

.post-show-modal-comment-username {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-right: 4px;
  text-overflow: ellipsis;
}

.author-tag {
  background-color: rgb(86, 104, 122);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 3px 8px;
  position: relative;
  cursor: default;
}

.post-show-modal-comment-headline {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  order: 1;
  cursor: pointer;
}

.post-show-modal-comment-card-timestamp {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-right: 4px;
  position: relative;
  top: -4px;
  right: -8px;
}

.post-show-modal-comment-card-edit-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  position: relative;
  top: -4px;
  right: -8px;
}

.post-show-modal-comment-card-edit-img {
  width: 16px;
}

.post-show-modal-edit-menu-wrap {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 8px;
  text-align: right;
  padding: 4px 0px 4px 0px;
  max-height: 80px;
  width: 90vw;
  max-width: max-content;
  min-width: 168px;
  border-radius: 8px;
  border-top-right-radius: 0;
  box-shadow: 0 6px 9px rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.03), rgba(0, 0, 0, 0.15) 0px 4px 4px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  -webkit-transition: 0.25s all ease-in-out;
	-moz-transition: 0.25s all ease-in-out;
	-o-transition: 0.25s all ease-in-out;
	transition: 0.25s all ease-in-out;
  padding-top: 4px;
  padding-bottom: 4px;
  z-index: 6;
}

.post-show-modal-edit-menu-item {
  text-align: left;
  list-style-type: none;
  cursor: pointer;
}

.post-show-modal-edit-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-show-modal-edit-menu-item-content {
  padding: 8px 16px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.post-show-modal-edit-menu-item-content > img {
  height: 16px;
  width: 16px;
}

.post-show-modal-edit-menu-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration-style: solid;
}

.post-show-modal-edit-menu-item-text > h5 {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}

.post-show-modal-edit-menu-item-text > p {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}

.post-show-modal-comment-form {
  padding: 0px 16px 12px 12px;
}

.post-show-modal-comment-form > div {
  display: flex;
}

.post-show-modal-comment-input-field {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 21px;
  tab-size: 4;
  padding: 9.5px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  resize: none;
  cursor: text;
}

.post-show-modal-edit-comment-cant {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  min-width: none;
  max-width: 480px;
  min-height: 24px;
  padding: 2px 12px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.post-show-modal-edit-comment-can {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 102, 194);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 16px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  min-width: none;
  max-width: 480px;
  min-height: 24px;
  padding: 2px 12px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.post-show-modal-edit-comment-can:hover,
.post-show-modal-edit-comment-can:active {
  background-color: rgb(2, 59, 116);
}

.post-show-modal-edit-comment-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  min-width: none;
  max-width: 480px;
  min-height: 0px;
  padding: 2px 12px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  word-break: break-word;
}

.post-show-modal-edit-comment-cancel:hover,
.post-show-modal-edit-comment-cancel:active {
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
}

.post-show-modal-comment-reaction-bar-wrap {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.post-show-modal-comment-reaction-bar-left {
  display: flex;
  align-items: center;
  padding-right: 8px;
  position: relative;
}

.post-show-modal-comment-action {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 0 4px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.post-show-modal-reaction-dock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 300px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 6px 9px rgba(0,0,0,.15), 0 0 0 1px rgba(0,0,0,.03), rgba(0, 0, 0, 0.2) 0px 4px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;;
  border: none;
  width: 290px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: -20px;
  transition-duration: 0.167s;
  transition-property: width, height, opacity;
  transition-timing-function: ease-in-out;
  display: none;
  z-index: 9999;
}

.post-show-modal-reaction-dock:hover {
  display: flex;
}

.post-show-modal-comment-action:hover,
.post-show-modal-comment-action:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-show-modal-comment-action:hover+.post-show-modal-reaction-dock {display: flex;}

.post-show-modal-comment-action-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.post-show-modal-comment-dot {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 4px;
  padding-right: 8px;
}

.post-show-modal-comment-count {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 4px;
  cursor: pointer;
}

.post-show-modal-comment-count:hover {
  color: #0a66c2;
}

.post-show-modal-comment-divider {
  line-height: 10px;
  height: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.post-show-modal-comment-reation-bar-right {
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.post-show-modal-comment-reply-button {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 4px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.post-show-modal-comment-reply-button:hover,
.post-show-modal-comment-reply-button:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-show-modal-reply-input-wrap {
  display: flex;
  flex-shrink: 0;
  padding-top: 8px;
}

.post-show-modal-comment-reply-count {
  color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-weight: 400;
  line-height: 10px;
}

.post-show-modal-comment-replies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}