.search-modal-background {
  position: fixed;
  top: 52px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}

.profile-menu-background {
  position: fixed;
  top: 52px;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 9;
}

.search-modal-child {
  position: absolute;
  margin: auto;
  top: 43.5px;
  border-radius: 8px;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0.8px;
  width: 452px;
  background-color: white;
  overflow-y: auto;
  z-index: 999;
}

.noinput-search-suggestion-box {
  display: flex;
  flex-direction: column;
  max-height: 856px;
}

.noinput-search-head {
  border-top-color: rgba(0, 0, 0, 0.15);
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 400;
}

.noinput-search-list {
  font-size: 16px;
  font-weight: 400;
  margin: none;
  margin-block-end: 8px;
}

.input-icon {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-right: 12px;
}

.noinput-list-text {
  padding: 6px 0px 6px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  word-break: break-all;
}

.noinput-search-suggestion {
  display: flex;
  align-items: center;
  padding: 2px 10px 2px 10px;
  height: 40px;
  text-align: left;
  cursor: pointer;
}

.noinput-search-suggestion:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.search-suggestion-box {
  max-height: 856px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow-y: auto;
}

.search-suggestion {
  margin: 0;
  padding: 2px 2px 2px 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-suggestion:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.search-suggestion-content-one {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 6px 6px 0px 8px;
}

.search-suggestion-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 0px 6px 0px 8px;
}

.suggestion-propic {
  width: 32px;
  height: 32px;
  margin: 4px 8px 4px 0px;
  border-radius: 50%;
}

.suggestion-text-box {
  font-size: 16px;
  font-weight: 400;
  padding: 0px 16px 0px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 342px;
  overflow: hidden;
}

.suggestion-name {
  white-space: nowrap;
}

.suggestion-headline {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.all-results-box {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 2px 2px 2px 2px;
}

.all-results-content {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  cursor: pointer;
}

.all-results-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-top: 6px;
  color: rgb(10, 102, 194);
}

.no-results-box {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 2px 2px 2px 2px;
}

.no-results-content {
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  cursor: pointer;
}

.no-results-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding-left: 8px;
  padding-top: 8px;
  color: rgb(10, 102, 194);
}

#navbar-container {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  min-width: 900px;
  width: calc(100vw - 30px);
  // width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  position: sticky;
  padding-top: 1px;
  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: 1185px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar-logo-box {
  opacity: 1;
}

.navbar-logo {
  margin: auto;
  margin-right: 8px;
  font-size: 0;
  height: 35px;
  width: 35px;
}

.navbar-search-box {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
}

.search-icon-box {
  position: absolute;
  vertical-align: baseline;
  pointer-events: none;
  padding: 7px;
  padding-left: 16px;
  transition-delay: 0s;
  transition: width 334ms ease-in-out;
}

.search-icon-box.search-active {
  margin: 1px;
  padding-left: 15px;
  padding-right: 15px;
  
}

.search-icon {
  width: 14px;
  height: 14px;
}

.search-bar {
  width: 232px;
  height: 32px;
  background-color: rgb(238, 243, 248);
  border-style: none;
  box-shadow: none;
  padding-left: 40px;
  padding-right: 8px;
  line-height: 24.5px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.9);
  transition-delay: 0s;
  transition: width 334ms ease-in-out;
}

.search-bar:hover,
.search-bar:focus {
  outline: none;
}

.search-bar.search-active {
  width: 330px;
  height: 30px;
  font-size: 16px;
  line-height: 28px;
  padding-left: 46px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 0.3rem;
  transition-delay: 0s;
  transition: width 334ms ease-in-out;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1128px;
  margin: 0 auto;
  // width: 100%;
  min-height: 100%;
}


.navbar-list {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  background: transparent;
  font-weight: 400;
}

.navbar-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  min-width: 80px;
  height: 52px;
  cursor: pointer;
  position: relative;
}

.navbar-profile {
  display: flex;
  text-align: center;
  flex-direction: column;
  min-width: 80px;
  cursor: pointer;
  position: relative;
}

.navbar-link {
  text-decoration: none;
  color: black;
}

.navbar-icon {
  width: 25px;
  height: 22px;
}

.navbar-arrow {
  width: 9px;
}

h5.navbar-link.transparent:hover {
  opacity: 1;
  color: black;
}

.navbar-icon.active,
.navbar-link.active,
.navbar-me.active {
  opacity: 1;
  color: black;
}

a:hover {
  opacity: 1;
  color: black;
}

a > h5 {
  margin-top: 1.5px;
  // margin-bottom: 5.5px;
}

.navbar-item-bar {
  position: relative;
  top: 6.5px;
  border-bottom: 2px solid transparent;
}

.navbar-item-bar.active {
  border-bottom: 2px solid black;
}

.navbar-icon-profile {
  width: 25px;
  height: 22px;
  border-radius: 50%;
  opacity: 1;
}

.profile-menu {
  width: 288px;
  min-width: 168px;
  max-height: calc(100vh - 64px);
  top: calc(100% + 8px);
  bottom: auto;
  right: 0;
  left: -184px;
  position: absolute;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border-top-right-radius: 0;
  overflow-y: auto;
  // box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px
  // 0 0 0 1px rgba(0,0,0,.15),0 6px 9px rgba(0,0,0,.2);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 0.8px;
  z-index: 999;
}

.profile-menu-header {
  cursor: auto;
  padding: 8px 8px 8px 8px;
  display: block;
  text-align: left;
}

.profile-namecard {
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.profile-menu-pic-box {
  position: relative;
}

.profile-menu-pic {
  aspect-ratio: auto 70 / 70;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  transform: matrix(1, 0, 0, 1, 0 ,0);
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  display: inline;
  vertical-align: bottom;
}

.profile-menu-info {
  cursor: pointer;
  align-self: center;
  padding-left: 4px;
  text-align: left;
}

.profile-menu-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
}

.profile-menu-headline {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.profile-view-profile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgb(10, 102, 194);
  border: 1px solid rgb(10, 102, 194);
  border-radius: 16px;
  line-height: 20px;
  margin-top: 8px;
  width: 248px;
  max-width: 480px;
  min-width: 0px;
  min-height: 24px;
  overflow: hidden;
  padding: 2px 12px 2px 12px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
}

.profile-view-profile:hover {
  background-color: rgba(112,181,249,0.15);
  box-shadow: #0a66c2 0px 0px 0px 1px inset;
  color: rgb(10, 102, 194);
}

.profile-menu-signout-header {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 12px 12px 0px 12px;
  text-align: left;
  cursor: auto;
}

.profile-menu-signout {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 4px 0px 4px 0px;
  padding: 4px 12px 4px 12px;
  text-align: left;
  text-decoration: auto solid rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  touch-action: manipulation;
  cursor: pointer;
}

.profile-menu-signout:hover {
  text-decoration: underline;
}

.transparent {
  opacity: 0.63;
}