#navbar-container {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 24px;
  z-index: 100;
  // position: fixed;
}

.navbar-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1128px;
}

.bi {
  height: 100px;
  width: 100px;
}

.navbar-logo {
  margin-right: 8px;
  font-size: 0;
  height: 35px;
  width: 35px;
}

.feed-navbar-icon {

}

.network-navbar-icon {
  
}