#navbar-container {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100vw;
  top: 0;
  left: 0;
  padding: 0 24px;
  // position: fixed;
  z-index: 100;
}

.navbar-content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1128px;
}

.navbar-logo {
  margin-right: 8px;
  font-size: 0;
  height: 35px;
  width: 35px;
}

.navbar-list {
  margin-left: auto;
  display: block;
  @media (max-width: 769px) {
    position: fixed;
    left: 0;
    bottom: 0;
    background: white;
    width: 100%;
  }
}