.network-background {
  background-color: #F3F2EF;
  width: 100vw;  
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: auto;
}

.network-wrap {
  width: 1128px;
  max-width: unset;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.network-wrap-structure {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-end: content;
  grid-column-start: content;
  grid-row-end: content;
  grid-row-start: content;
  grid-template-columns: minmax(300px,7fr)minmax(0,17fr);
  grid-template-rows: auto;
}

.network-management-bar {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.9);
  display: block;
  padding: 8px 0;
  position: relative;
  top: 22px;
}

.network-management-bar > h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 4px 16px;
  cursor: pointer;
}

.network-management-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.network-management-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.network-management-item > div {
  display: flex;
}

.network-management-item > div > img {
  display: block;
  position: relative;
  margin-right: 16px;
  height: 22px;
  width: 22px;
}

.network-management-item > span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 12px;
}

.network-invitations-section {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-top: 0;
  border-radius: 8px;
  display: block;
}

.network-invitations-section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 8px 8px 8px 16px;
}

.network-management-see-all {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.network-management-see-all:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

