.network-background {
  background-color: #F3F2EF;
  width: 100vw;  
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  overflow: auto;
}

.network-wrap {
  display: flex;
}

.network-management-bar {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.9);
  display: block;
  padding: 8px 0;
  position: relative;
}

.network-management-bar > h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 4px 16px;
  cursor: pointer;
}

.network-management-item {
  display: flex;
  align-items: center;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 20px;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.network-management-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.network-management-item > div {
  display: flex;
}

.network-management-item > div > img {
  display: block;
  position: relative;
  margin-right: 16px;
  height: 22px;
  width: 22px;
}

.network-management-item > span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 12px;
}