.create-post-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  width: 552px;
  max-width: 552px;
  overflow: auto;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
}

.post-modal-x-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  width: 40px;
  min-width: 0px;
  max-width: 480px;
  min-height: 32px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 12px;
  right: 12px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.post-modal-x-box:hover,
.post-modal-x-box:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-modal-x {
  width: 35px;
}

.post-modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 16px 48px 16px 24px;
}

.post-modal-header-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

.post-modal-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 56px;
  max-height: 548px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow: auto;
}

.post-modal-content-header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.post-modal-content-top {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 24px 12px 24px;
}

.post-modal-avatar {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.post-modal-name-box {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-wrap: wrap;
  margin-left: 4px;
  padding-left: 4px;
}

.post-modal-name {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.post-modal-spaceholder {
  height: 30px;
}

.post-modal-content-bottom {
  display: grid;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  margin: 12px 24px 12px 24px;
}

.post-modal-content-editor {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  height: unset;
  min-height: 96px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  line-height: 1.42;
  text-align: left;
  white-space: pre-wrap;
  tab-size: 4;
  position: relative;
  vertical-align: baseline;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  overflow-y: auto;
  // overflow: hidden;
  resize: none;
  // resize: vertical;
}

.post-modal-submit-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 12px 16px;
}

.post-modal-submit-options {
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.post-modal-submit-option {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  min-height: 32px;
  width: 40px;
  min-width: 0;
  max-width: 480px;
  overflow: hidden;
  padding: 0;
  // margin-left: 25px;
  // margin-right: 25px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}

.post-modal-submit-option:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.post-modal-submit-icon {
  height: 24px;
  width: 24px;
}

.post-modal-cant-submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  min-width: 60px;
  max-width: 480px;
  min-height: 32px;
  overflow: hidden;
  padding: 6px 16px 6px 16px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: not-allowed;
}

.post-modal-can-submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #0a66c2;
  border-radius: 16px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  min-width: 60px;
  max-width: 480px;
  min-height: 32px;
  overflow: hidden;
  padding: 6px 16px 6px 16px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}

.post-modal-can-submit:hover,
.post-modal-can-submit:active {
  background-color: #084077;
}