.profile-background {
  background-color: #F3F2EF;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  // margin: auto;
  overflow: auto;
}

.profile-container {
  width: 1128px;
  max-width: unset;
  margin-left: auto;
  margin-right: auto;

}

.profile-content-wrap {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-end: content;
  grid-column-start: content;
  grid-row-end: content;
  grid-row-start: content;
  grid-template-columns: minmax(0,17fr)minmax(300px,7fr);
  margin-top: 0;
}

.profile-content-main {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profile-banner-wrap {
  position: relative;
}

.profile-banner {
  width: 100%;
  min-height: 195.5px;
  max-height: 195.5px;
  position: relative;
  padding-bottom: 25%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.profile-info-wrap {
  padding-left: 24px;
  padding-right: 24px;
}

.profile-info-propic-box {
  display: flex;
}

.profile-picture-box {
  margin-top: -112px;
  z-index: 4;
}

