.profile-background {
  background-color: #F3F2EF;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  // margin: auto;
  overflow: auto;
}

.profile-container {
  width: 1128px;
  max-width: unset;
  margin-left: auto;
  margin-right: auto;

}

.profile-content-wrap {
  display: grid;
  column-gap: 24px;
  row-gap: 24px;
  grid-column-end: content;
  grid-column-start: content;
  grid-row-end: content;
  grid-row-start: content;
  grid-template-columns: minmax(0,17fr)minmax(300px,7fr);
  margin-top: 24px;
}

.profile-content-main {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: fit-content;
}

.profile-banner-wrap {
  position: relative;
}

.banner-button-button {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 5;
}

.banner-button-img {
  height: 16px;
  width: 16px;
}

.banner-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  width: 744px;
  max-width: 744px;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
  overflow: auto;
}

.edit-banner-button {
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  max-width: 480px;
  margin-bottom: 0px;
  padding: 6px 8px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
}

.edit-banner-button:hover,
.edit-banner-button:active {
  background-color: rgba(0, 0, 0, .08);
}

.edit-banner-button-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.apply-banner-change {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #0a66c2;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
  border: 1px solid #0a66c2;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  margin-right: 12px;
  max-width: 480px;
  min-width: 0px;
  // min-height: 32px;
  overflow: hidden;
  padding: 6px 16px 6px 16px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.apply-banner-change > span {
  color: #0a66c2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.apply-banner-change:hover,
.apply-banner-change:active {
  background-color: rgba(112,181,249,0.15);
  color: #0a66c2;
  box-shadow: #0a66c2 0px 0px 0px 1px inset;
}

.apply-banner-done {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0a66c2;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  max-width: 480px;
  min-width: 0px;
  // min-height: 32px;
  overflow: hidden;
  padding: 6px 16px 6px 16px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.apply-banner-done > span {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.apply-banner-done:hover,
.apply-banner-done:active {
  background-color: rgb(5, 83, 161);
  color: white;
}

.banner-choice-wrap {
  padding: 16px 24px;
  display: flex;
}

.upload-banner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #eef3f8;
  height: 56px;
  width: 56px;
  margin-right: 16px;
}

.uplaod-banner-logo {
  height: 24px;
  width: 24px;
}

.upload-photo-header {
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 8px;
  width: 100%;
}

.upload-photo-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0;
}

.upload-banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  margin-top: 8px;
  padding: 6px 16px;
  width: 138px;
  max-width: 480px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.upload-banner-button:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
}

.upload-banner-button-text {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.profile-banner {
  width: 100%;
  min-height: 195.5px;
  max-height: 195.5px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.profile-info-wrap {
  padding-left: 24px;
  padding-right: 24px;
}

.profile-info-propic-box {
  display: flex;
}

.profile-picture-box {
  position: relative;
  margin-top: -112px;
  z-index: 4;
}

.profile-picture-wrap {
  background-color: #f9fafb;
  border-radius: 49.9%;
  height: 160px;
  width: 160px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  object-fit: cover;
  height: 152px;
  width: 152px;
  border-radius: 50%;
}

.no-profile-picture {
  height: 152px;
  width: 152px;
  -moz-transform:scale(0.3);
  -webkit-transform:scale(0.3);
  transform:scale(0.3);
}

.profile-picture-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.profile-picture-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  width: 744px;
  max-width: 744px;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
  overflow: auto;
}

.propic-modal-content-page-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 48px;
}

.propic-modal-main-picture {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: 110px;
  margin-right: 5px;
  margin-left: 5px;
}

.propic-modal-side-pictures {
  border-radius: 50%;
  object-fit: cover;
  height: 90px;
  width: 90px;
  margin-right: 5px;
  margin-left: 5px;
}

.propic-modal-side-side-pictures {
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: 70px;
  margin-right: 5px;
  margin-left: 5px;
}

.propic-modal-upload-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0a66c2;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  max-width: 480px;
  min-width: 0px;
  min-height: 20px;
  overflow: hidden;
  padding: 6px 16px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.propic-modal-upload-button > span {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.propic-modal-upload-button:hover,
.propic-modal-upload-button:active {
  background-color: rgb(5, 83, 161);
  color: white;
}

.propic-modal-content-page-two {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  width: calc(100% - 64px);
  padding: 16px 32px 32px 32px;
  z-index: 0;
}

.propic-modal-preview {
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
  height: 230px;
  width: 230px;
}

.propic-modal-change-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
  margin-right: 12px;
  max-width: 480px;
  min-width: 0px;
  min-height: 20px;
  overflow: hidden;
  padding: 5px 15px;
  text-align: center;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.propic-modal-change-button > span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.propic-modal-change-button:hover,
.propic-modal-change-button:active {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
}

.propic-modal-x-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  width: 40px;
  min-width: 0px;
  max-width: 480px;
  min-height: 32px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 12px;
  right: 12px;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}

.propic-modal-x-box:hover,
.propic-modal-x-box:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.propic-modal-header {
  background-color: #1d2226;
  color: #e8e9e9;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  overflow-wrap: break-word;
  overflow: hidden;
  padding: 16px 48px 16px 24px;
}

.propic-modal-header-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

.propic-modal-content-page-three {
  background-color: #1d2226;
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  width: calc(100% - 48px);
  padding: 16px 32px 32px 16px;
  z-index: 0;
}

.propic-modal-existing {
  border-radius: 50%;
  object-fit: cover;
  height: 280px;
  width: 280px;
}

.propic-modal-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 4px;
  min-height: 48px;
  padding: 10px 8px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.propic-modal-option:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.propic-modal-option > img {
  height: 24px;
  width: 24px;
}

.propic-modal-option > span {
  color: #e8e9e9;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.banner-show-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  max-height: 676px;
  max-width: 1128px;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
  overflow: auto;
}

.banner-show-modal-content {
  display: flex;
  justify-content: center;
  padding: 32px 48px 48px 48px;
  margin-top: 32px;
}

.banner-show-banner {
  object-fit: cover;
  width: 100vw;
  height: calc(100vw / 4);
  max-width: 792px;
  max-height: 198px;
}

.profile-social-wrap {
  position: relative;
  margin-top: 8px;
}

.profile-social-info-edit-button {
 position: absolute;
 top: -45px;
 right: -8px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(255, 255, 255, 0);
 border: none;
 border-radius: 50%;
 height: 40px;
 width: 40px;
 cursor: pointer;
}

.profile-social-info-edit-button:hover {
  background-color: rgba(0, 0, 0, .08);
}

.profile-social-info-edit-button > img {
  height: 18px;
  width: 18px;
}

.profile-user-name {
  color: rgba(0, 0, 0, 0.9);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  word-break: break-word;
}

.profile-user-headline {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.profile-user-school {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  max-height: 40px;
  text-overflow: ellipsis;
}

.profile-user-school:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.profile-user-location {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  padding-bottom: 8px;
}

.profile-user-connections {
  color: #0a66c2;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.5px;
  cursor: pointer;
}

.profile-user-connections:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.profile-user-alt-connections {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  cursor: default;
}

.profile-user-alt-connections:hover {
  text-decoration: underline;
}

.profile-user-option {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  max-height: 32px;
  position: relative;
  padding: 6px 16px;
  margin-right: 8px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.profile-user-option:hover,
.profile-user-option:active,
.profile-user-option:focus {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1.00137px inset;
}

.edit-profile-modal-child {
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  // max-height: 676px;
  width: 744px;
  max-width: 744px;
  height: fit-content;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  position: relative;
  top: 32px;
  // overflow: auto;
}

.profile-edit-modal-wrap {
  height: fit-content;
}

.profile-edit-indicates-required {
  margin-left: 24px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  // position: absolute;
  // top: 68px;
}

.profile-edit-modal-name-section {
  padding: 32px 24px 16px 24px;
  height: 502px;
  overflow-y: auto;
}

.profile-edit-modal-label {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2px;
}

.profile-edit-modal-input {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  width: calc(100% - 18px);
  line-height: 20px;
  padding: 6px 8px;
  outline: none;
  transition-duration: 0.084s;
  transition-property: box-shadow;
}

.profile-edit-modal-input:hover,
.profile-edit-modal-input:active {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
}

.profile-edit-modal-save {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a66c2;
  border: none;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  min-height: 32px;
  min-width: 0;
  max-width: 480px;
  padding: 6px 16px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.profile-edit-modal-save:hover,
.profile-edit-modal-save:active {
  background-color: rgb(0, 65, 130);
}

.profile-menu-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2000;
}

.profile-add-section-menu {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
  position: absolute;
  margin-top: 8px;
  top: 30px;
  left: 0px;
  width: 312px;
  z-index: 3000;
}

.profile-add-section-menu > h4 {
  padding: 10px 20px;
  min-height: 20px;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.profile-add-section-menu > li {
  display: flex;
  padding: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.profile-more-menu {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 4px 4px 0px;
  border-radius: 8px;
  border-top-left-radius: 0;
  position: absolute;
  margin-top: 8px;
  top: 30px;
  left: 0px;
  width: max-content;
  padding: 4px 0;
  z-index: 3000;
}

.profile-more-menu > div {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-more-menu > div:hover {
  background-color: rgba(0, 0, 0, .08);
}

.profile-more-menu > div > img {
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.profile-more-menu > div > span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.profile-user-connect {
  border: none;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  background-color: #0a66c2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  margin-right: 8px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.profile-user-connect:hover,
.profile-user-connect:active,
.profile-user-connect:focus {
  background-color: rgb(0, 65, 130);
}

.stat-wrap {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding-bottom: 24px;
}

.stat-section {
  padding-bottom: 24px;
}

.stat-section > header {
  padding: 24px 24px 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-section > header > h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  font-weight: 400;
}

.stat-add-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  outline: none;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stat-add-button:hover {
  background-color: rgba(0, 0, 0, .08);
}

.profile-stat-plus-sign {
  height: 24px;
  width: 24px;
}

.profile-stats-info {
  list-style-type: none;
  margin-top: -4px;
}

.stat-item-section {
  padding: 20px 24px 0px 24px;
  display: flex;
  justify-content: space-between;
}

.stat-first-line {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.stat-second-line {
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.stat-third-line {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.stat-edit-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.stat-edit-button:hover {
  background-color: rgba(0, 0, 0, .08);
}

.stat-edit-button > img {
  height: 24px;
  width: 24px;
}

.stat-breakline {
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  color: rgb(128, 128, 128);
  flex-grow: 1;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
  height: 1px;
  font-size: 13.3333px;
  font-weight: 400;
  display: block;
  // width: 540px;
}

.profile-select-menu {
  appearance: none;
  background-color: rgb(255, 255, 255);
  background-image: url("https://static-exp1.licdn.com/sc/h/cwn0a0e7hog2i33c88ucrvot5");
  background-position: calc(100% - 7px) -311px;
  background-position-x: calc(100% - 7px);
  background-position-y: -311px;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  width: 681px;
  width: 100%;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 32px;
  padding: 0 32px 0 8px;
  vertical-align: middle;
  z-index: 2;
}

.profile-select-menu:hover,
.profile-select-menu:active,
.profile-select-menu:focus {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
}

.profile-edit-textarea {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: auto;
  width: 665px;
  padding: 6px 8px;
}

.profile-edit-textarea:hover {
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 0px 1px inset;
}

.profile-edit-textarea:active {
  background-color: rgba(0, 0, 0, .08);
}

.profile-stat-deletion {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 4px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  min-height: 20px;
  padding: 6px 8px;
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.profile-stat-deletion:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.profile-current-role-check {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 15px;
}