.result-page {
  background-color: #F3F2EF;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: auto;
}

.search-results-wrap {
  display: flex;
}

.search-results-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}