.sidebar {
  width: 225px;
}

.sidebar-container {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 0;
  border-radius: 8px;
  height: fit-content;
  overflow: hidden;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.083s;
  transition-property: box-shadow;
  transition-timing-function: ease;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: rgb(255, 255, 255);
}

.sidebar-header {
  color: rgba(0, 0, 0, 0.9);
  overflow-wrap: break-word;
  padding: 12px 12px 16px 12px;
  text-align: center;
  word-break: break-word;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-banner {
  width: 225px;
  background-position: 50% 50%;
  margin: -12px -12px 0px -12px;
  overflow-wrap: break-word;
}

.sidebar-banner-img {
  width: 100%;
  height: 56.25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  margin-bottom: 10px;
}

.avatar-container {
  width: 70px;
  height: 70px;
  background-color: rgb(249, 250, 251);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: none;
  margin: -52px auto 12px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
  vertical-align: baseline;
}

.sidebar-avatar {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.no-sidebar-avatar {
  box-shadow: none;
  width: 100%;
  height: 100%;
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}

.sidebar-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.sidebar-name:hover {
  text-decoration: underline;
}

.sidebar-headline {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.sidebar-headline-alt {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 4px;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
  color: rgb(10, 102, 194);
}

.sidebar-info-wrap {
  color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  margin: 12px 0 12px 0;
  text-align: center;
}

.sidebar-info-content {
  display: flex;
  flex-direction: column;
}

.sidebar-connection-item {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.sidebar-connection-item:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-connections-wrap {
  font-size: 16px;
  font-weight: 600;
  color: rgb(10, 102, 194);
}

.sidebar-connections {
  display: flex;
  align-items: baseline;
  text-align: center;
  padding: 4px 12px 4px 12px;
}

.sidebar-connections-left {
  text-align: left;
}

.sidebar-connections-left-top {
  text-align: left;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 16px;
  margin-right: 8px;
}

.sidebar-connections-left-top > span {
  font-weight: 600;
}

.sidebar-connections-left-bottom {
  text-align: left;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 16px;
}

.sidebar-connections-left-bottom > span {
  font-weight: 600;
}

.sidebar-connections-right {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  color: rgb(10, 102, 194);
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.sidebar-connections-right > span {
  font-weight: 600;
}

.sidebar-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: sticky;
  top: 74px;
  transition-delay: 0s;
  transition-duration: 0.667s;
  transition-property: top;
  transition-timing-function: ease-in-out;
}

.sidebar-footer-wrap {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 8px;
  padding-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-footer-item {
  margin-right: 8px;
  padding-left: 12px;
  text-align: left;
  color: rgb(10, 102, 194);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  text-align: left;
  text-decoration: rgb(10, 102, 194);
  transition-delay: 0s;
  transition-duration: 0.167s;
  transition-property: background-color, color;
  transition-timing-function: ease;
}

.sidebar-footer-item:hover {
  color: rgb(10, 102, 194);
  text-decoration: underline;
}

.sidebar-footer-item:active {
  color: rgb(7, 66, 124);
  text-decoration: underline;
}

.sidebar-footer-end {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  min-height: 24px;
  min-width: 0;
  overflow: hidden;
  padding: 12px 12px 12px 12px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.6);
  transition-duration: 0.167s;
  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sidebar-footer-end:hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-footer-end:active {
  color: rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.08);
}