.signup-form {
  overflow: scroll;
  padding: 18px 26px;
  font-size: 14px;
  color: rgb(134, 134, 134);
  background-color: #f3f2ef;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.signup-form-three {
  overflow: scroll;
  padding: 18px 26px;
  font-size: 14px;
  color: rgb(134, 134, 134);
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.signup-logo {
  display: relative;
  width: 145px;
  height: 26px;
  @media (max-width: 768px) {
    padding: 0 5px;
  }
}

.signup-quote {
  font-size: 30px;
  color: black;
  margin-bottom: 28px;
}

.signup-form-container {
  // display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.signup-form-container-three {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup-form-container-three header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.signup-greeting {
  font-size: 22px;
  color: black;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 12px;
  padding-top: 32px;
}

.signup-message {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
  overflow-wrap: break-word;
  text-align: center;
}

.signup-form-box {
  max-width: 350px;
  margin: 0 auto;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

.signup-form-box.box-two {
  max-width: 380px;
  margin: 0 auto;
  padding: 24px 24px 6px 24px;
  background-color: white;
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.singup-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

.signup-input {
  text-align: start;
  width: 97%;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 5px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  transition-duration: 0.33s;
  transition-property: border-color, box-shadow;
  line-height: 20px;
}

.signup-input:focus {
  outline: none !important;
  border: 2px solid rgb(105, 105, 105);
  height: 30px;
}

.signup-submit {
  width: 100%;
  font-size: 17px;
  font-weight: 500;
  font-family: inherit;
  height: 48px;
  background-color: #0a66c2;
  color: white;
  padding: 10px;
  border-radius: 25em;
  text-align: center;
  border: none;
  margin-bottom: 13px;
  margin-top: 18px;
}

.signup-submit:hover {
  background-color: #004182;
  cursor: pointer;
}

.demo-signup-submit {
  width: 100%;
  font-size: 17px;
  font-weight: 550;
  font-family: inherit;
  height: 48px;
  background-color: #FFFFFF;
  color: #0a66c2;
  padding: 10px;
  border-radius: 25em;
  text-align: center;
  transition-duration: 41ms;
  border: 1px solid #0a66c2;
  margin-bottom: 20px;
}

.demo-signup-submit:hover {
  background-color: #0a66c22f;
  border: 2px solid #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

.signup-header {
  text-align: center;
}

.signup-header-two {
  width: 1128px;
  display: flex;
  align-items: bottom;
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-logo {
  width: 150px;
  margin-bottom: 22px;
}

.session-redirect {
  text-align: center;
  font-size: 16px;
  color: black;
}

.session-redirect-link {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #0a66c2;
  transition-duration: 167ms;
}

.session-redirect-link:hover {
  text-decoration: underline;
  color: purple;
}

.signup-form-box-two {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 14px;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-form-box-three {
  width: 408px;
}

.blue-star {
  color: #0a66c2;
}